@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-lg-6">
                    <h3>@Model.SiteName</h3>
                    <p>@Model.SiteMoto</p>
                </div>
            </div>
            <div class="row footer-newsletter justify-content-center">
                <div class="col-lg-6">
                    <form action="/Home/Subscribe" method="post">
                        <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
            <div class="social-links">
                <a href="@Model.GitHub" class="github"><i class="bx bxl-github"></i></a>
                <a href="@Model.LinkedIn" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="skype:@Model.Skype" class="google-plus"><i class="bx bxl-skype"></i></a>
            </div>
        </div>
    </div>
    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><a href="/">@Model.SiteName</a></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Developed by <a href="https://tanyoivanov.net">Tanyo Ivanov</a>
        </div>
    </div>
</footer>