@inherits UmbracoViewPage
@using System.Globalization
@using System.Web
@using System.Xml

@functions{
    public static string Country(string code, string culture)
    {
        var locale = new CultureInfo(culture).TwoLetterISOLanguageName.ToLower();
        var strLocalXmlFile = HttpContext.Current.Server.MapPath("/assets/localization/" + locale + ".xml");
        var xdoc = new XmlDocument();
        xdoc.Load(strLocalXmlFile);
        var node = "//language[@type='" + code + "']";
        var xn = xdoc.SelectSingleNode(node);
        return xn?.InnerText ?? string.Empty;
    }
}

@helper CurrentCultureMarkup()
{
    <span class="flag-icon flag-icon-@Model.GetCultureFromDomains().Substring(3, 2)"></span>
    @Country(Model.GetCultureFromDomains().Substring(0, 2), Model.GetCultureFromDomains())
    @(Model.GetCultureFromDomains().Contains("BG") ? "(BG)" : "")
    @(Model.GetCultureFromDomains().Contains("GB") ? "(GB)" : "")
}

<li class="nav-item dropdown move-to-top" id="language-dropdown">
    @if (Model.Cultures.Count == 1)
    {
        <span>
            @CurrentCultureMarkup()
        </span>
    }
    else
    {
        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CurrentCultureMarkup()
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (var (culture, infos) in Model.Cultures)
            {
                var currentCulture = Model.GetCultureFromDomains();
                if (currentCulture.ToLower() != culture)
                {
                    <a class="dropdown-item" href="@Model.Url(culture)">
                        <span class="flag-icon flag-icon-@infos.Culture.Substring(3, 2)"></span>
                        @Country(infos.Culture.Substring(0, 2), Model.GetCultureFromDomains())
                        @(infos.Culture.Contains("bg") ? "(BG)" : "")
                        @(infos.Culture.Contains("gb") ? "(GB)" : "")
                    </a>
                }
            }
        </div>
    }
</li>

@*The language bar is taken from this tutorial https://our.umbraco.com/forum/using-umbraco-and-getting-started/100054-language-selector*@