@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;

<section id="counts" class="counts">
    <div class="container">
        <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">@Model.Clients</span>
                <p>@Model.ClientsLabel</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">@Model.Projects</span>
                <p>@Model.ProjectsLabel</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">@Model.Support</span>
                <p>@Model.SupportLabel</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">@Model.Workers</span>
                <p>@Model.WorkersLabel</p>
            </div>
        </div>
    </div>
</section>